<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javayh.dao.ErrorAckMessageDao" >

  <insert id="insertAll" parameterType="com.javayh.entity.ErrorAckMessage" >
    insert into error_ack_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="errorMethod != null" >
        error_method,
      </if>
      <if test="errorMessage != null" >
        error_message,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="errorMethod != null" >
        #{errorMethod},
      </if>
      <if test="errorMessage != null" >
        #{errorMessage},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="message != null" >
        #{message},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime},
      </if>
       <if test="remarks != null" >
        #{remarks},
      </if>
    </trim>
  </insert>


</mapper>